<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${tableBean.basicMapperClassFullName}">
    <resultMap id="basic${tableBean.entityClassName}" type="$tableBean.entityClassFullName">
#foreach($columnBean in $tableBean.columnBeanList)
        <result column="${columnBean.columnName}" property="${columnBean.javaName}" jdbcType="${columnBean.jdbcType}" javaType="${columnBean.javaType}"/>
#end
    </resultMap>

#set($i = 0)
    <sql id="basicResult">
#foreach($columnBean in $tableBean.columnBeanList)
#if($i == 0)
        t.${columnBean.columnName} as ${columnBean.columnName}
#else
        ,t.${columnBean.columnName} as ${columnBean.columnName}
#end
#set($i = $i + 1)
#end
    </sql>

    <sql id="basicWhere">
#foreach($columnBean in ${tableBean.columnBeanList})
#if(${columnBean.javaType} == 'String')
        <if test="${tableBean.entityClassNameFirstLower}.${columnBean.javaName} != null and ${tableBean.entityClassNameFirstLower}.${columnBean.javaName} != ''">and t.${columnBean.columnName} = #{${tableBean.entityClassNameFirstLower}.${columnBean.javaName}}</if>
#else
        <if test="${tableBean.entityClassNameFirstLower}.${columnBean.javaName} != null">and t.${columnBean.columnName} = #{${tableBean.entityClassNameFirstLower}.${columnBean.javaName}}</if>
#end
#end
    </sql>

    <sql id="basicSortField">
#foreach($columnBean in ${tableBean.columnBeanList})
        <if test="sortField == '${columnBean.columnName}' || sortField == '${columnBean.javaName}'">t.${columnBean.columnName}</if>
#end
    </sql>

    <select id="query" resultMap="basic${tableBean.entityClassName}" parameterType="${tableBean.entityClassFullName}">
        select <include refid="basicResult" />
        from ${tableBean.tableName} t
        <where>
            <include refid="basicWhere" />
        </where>
    </select>

    <select id="queryOrderBy" resultMap="basic${tableBean.entityClassName}">
        select
        <include refid="basicResult" />
        from ${tableBean.tableName} t
        <where>
            <include refid="basicWhere" />
        </where>
        <if test="sortField != null and sortField != ''">
            <choose>
                <when test="sortOrder == 'desc' ">
                    order by <include refid="basicSortField" /> desc
                </when>
                <otherwise>
                    order by <include refid="basicSortField" /> asc
                </otherwise>
            </choose>
        </if>
    </select>

##主键字段列表
#set($i = 0)
#set($param = '')
#set($pk = '')
#foreach(${cb} in ${tableBean.pkColumnBeanList})
#if($i == 0)
    #set($param = $param + "t.${cb.columnName} = #{${cb.javaName}, jdbcType=${cb.jdbcType}}")
    #set($i = $i + 1)
    #set($pk = $cb)
#else
    #set($param = $param + "\n and t.${cb.columnName} = #{${cb.javaName}, jdbcType=${cb.jdbcType}}")
#end
#end

    <select id="get" resultMap="basic${tableBean.entityClassName}">
        select
        <include refid="basicResult" />
        from ${tableBean.tableName} t
        where
        ${param}
    </select>

    <select id="count" resultType="long" parameterType="$tableBean.entityClassFullName">
        select
        count(*) from $tableBean.tableName t
        <where>
            <include refid="basicWhere" />
        </where>
    </select>

    <update id="update" parameterType="${tableBean.entityClassFullName}">
        update $tableBean.tableName t
        <set>
#foreach($columnBean in $tableBean.columnBeanList)
            <if test="${tableBean.entityClassNameFirstLower}.${columnBean.javaName} != null">t.${columnBean.columnName} = #{${tableBean.entityClassNameFirstLower}.${columnBean.javaName}, jdbcType=${columnBean.jdbcType}},</if>
#end
        </set>
        where
#set($i = 0)
#foreach($pkColumn in $tableBean.pkColumnBeanList)
#if($i == 0)
            t.${pkColumn.columnName} = #{${tableBean.entityClassNameFirstLower}.${pkColumn.javaName}, jdbcType=${pkColumn.jdbcType}}
#else
        and t.${pkColumn.columnName} = #{${tableBean.entityClassNameFirstLower}.${pkColumn.javaName}, jdbcType=${pkColumn.jdbcType}}
#end
#set($i = $i + 1)
#end
    </update>

    <insert id="insert" parameterType="${tableBean.entityClassFullName}">
        insert into ${tableBean.tableName} (
#set($index = 0)
#foreach($columnBean in $tableBean.columnBeanList)
#if($index == 0)
            ${columnBean.columnName}
#else
            ,${columnBean.columnName}
#end
#set($index = $index + 1)
#end
        )
        values(
#set($index = 0)
#foreach($columnBean in $tableBean.columnBeanList)
#if($index == 0)
            #{${tableBean.entityClassNameFirstLower}.${columnBean.javaName}, jdbcType=${columnBean.jdbcType}}
#else
            ,#{${tableBean.entityClassNameFirstLower}.${columnBean.javaName}, jdbcType=${columnBean.jdbcType}}
#end
#set($index = $index + 1)
#end
        )
    </insert>

    <delete id="delete" parameterType="$tableBean.entityClassFullName">
        delete from $tableBean.tableName t
        where
        <trim prefixOverrides="and">
            <include refid="basicWhere" />
        </trim>
    </delete>

    <delete id="deleteByPk">
        delete from $tableBean.tableName t
        where
            ${param}
    </delete>

    <insert id="batchInsert" parameterType="java.util.List">
        insert into $tableBean.tableName (
#set($index = 0)
#foreach($columnBean in $tableBean.columnBeanList)
#if($index == 0)
            ${columnBean.columnName}
#else
            ,${columnBean.columnName}
#end
#set($index = $index + 1)
#end
        )
#if($dbType == 'oracle')
        <foreach collection="list" item="item" index="index" separator="union all" >
            select
#set($index = 0)
#foreach($columnBean in $tableBean.columnBeanList)
#if($index == 0)
                #{item.${columnBean.javaName}, jdbcType=${columnBean.jdbcType}}
#else
                ,#{item.${columnBean.javaName}, jdbcType=${columnBean.jdbcType}}
#end
#set($index = $index + 1)
#end
            from dual
        </foreach>
#else
        values
        <foreach collection="list" item="item" index="index" separator="," >
            (
#set($index = 0)
#foreach($columnBean in $tableBean.columnBeanList)
#if($index == 0)
            #{item.${columnBean.javaName}, jdbcType=${columnBean.jdbcType}}
#else
            ,#{item.${columnBean.javaName}, jdbcType=${columnBean.jdbcType}}
#end
#set($index = $index + 1)
#end
            )
        </foreach>
#end


    </insert>

#if($i == 1)
    <select id="listByIdList" resultMap="basic${tableBean.entityClassName}" parameterType="java.util.List">
        select
        <include refid="basicResult" />
        from ${tableBean.tableName} t
        where t.${pk.columnName} in
        <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
            #{item, jdbcType=${pk.jdbcType}}
        </foreach>
    </select>
#end
</mapper>
