/**
 * Generate by lmt-code-generator ${date}
 * you can find lmt-code-generator project on github, please visit:
 *
 */
package ${tableBean.entityPackage};

import com.lmt.parent.basic.entity.Entity;

#foreach(${importClass} in ${tableBean.importClassSet})
import ${importClass};
#end

##启用lombok时导入
import lombok.Getter;
import lombok.Setter;
import lombok.ToString;

/**
 * @description ${tableBean.tableComment}
 * @author Generate by lmt-code-generator
 * @date ${date}
 * @since JDK 1.8
 */
@Setter
@Getter
@ToString(callSuper = true)
public class ${tableBean.entityClassName} extends Entity {

    /**
     * serialVersionUID
     */
    private static final long serialVersionUID = 1L;

##生成字段
#foreach(${cb} in ${tableBean.columnBeanList})
    /** ${tableBean.tableName},${cb.columnName},$!{cb.columnComment}*/
    private ${cb.javaType} ${cb.javaName};

#end

}
