/**
 * Generate by lmt-code-generator $date
 * you can find lmt-code-generator project on github
 * please visit: https://github.com/sadness-hacker/lmt-code-generator
 *
 */
package ${tableBean.mapperPackage};

import ${tableBean.entityClassFullName};
import ${tableBean.basicMapperClassName};

/**
 *
 * @description ${tableBean.mapperClassName}接口
 * @author Generate by lmt-code-generator
 * @date $date
 * @since JDK 1.8
 *
 */
public interface ${tableBean.mapperClassName} extends ${tableBean.basicMapperClassShortName}<${tableBean.entityClassName}> {

}
