/**
 * Generate by lmt-code-generator @date $date
 * you can find lmt-code-generator project on github, please visit:
 *
 */
package ${tableBean.servicePackage};

import ${tableBean.basicServiceClassFullName};
import ${tableBean.serviceApiClassFullName};
import org.springframework.stereotype.Service;

/**
 * @description ${tableBean.serviceClassName}服务实现
 *
 * @author Generate by lmt-code-generator
 * @date $date
 * @since JDK1.8
 */
@Service
public class ${tableBean.serviceClassName} extends ${tableBean.basicServiceClassName} implements ${tableBean.serviceApiClassName} {

}
