/**
 * Generate by lmt-code-generator ${date}
 * you can find lmt-code-generator project on github, please visit:
 *
 */
package ${tableBean.serviceApiPackage};

import ${tableBean.entityClassFullName};
import com.lmt.parent.basic.service.BasicService;

/**
 * @description ${tableBean.serviceApiClassName}服务接口定义
 *
 * @author Generate by lmt-code-generator
 * @date $date
 * @since JDK1.8
 */
public interface ${tableBean.serviceApiClassName} extends BasicService<${tableBean.entityClassName}, ${tableBean.pkColumnBean.javaType}> {

}
